@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Libre+Baskerville&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom left, #eabbea, rgb(236, 232, 232), white, #ffffff);
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-color: #000000;
  --second-bg-color: #FFEBEB;
  --text-color: #fff;
  --main-color: #007aff;
  --tw-text-opacity: 1;
  --light-black: rgb(119 124 133/var(--tw-text-opacity));
}

#header {
  width: 100%;
  height: 100vh;
}

.container {
  padding: 10px 10px;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 1rem 9%; */
  background: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  /* box-shadow:#eec4c4; */
}

#logo {
  width: 300px;
}

.navbar a {
  font-weight: bold;
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
  color: var(--bg-color);
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;

}

.navbar a::after {
  content: ' ';
  width: 0;
  height: 3px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

.navbar a:hover::after {
  width: 100%;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--bg-color);
  display: none;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.5rem;
  text-align: justify;
  padding-right: 50px;
}

.home-img img {
  width: 30vw;
  border-radius: 30px;
  /* border: .2rem solid var(--main-color); */
  /* box-shadow: 0 0 1rem var(--main-color); */
  animation: floatImage 4s ease-in-out infinite;
  justify-content: right;
}


@keyframes floatImage {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2.4rem);
  }

  100% {
    transform: translateY(0);
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-col);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: 0.5s ease;
  text-decoration: none;
}

.btn:hover {
  box-shadow: none;
}

/* section2-------------------------->>>>*/

#Academics{
  background-color: rgb(237, 233, 233);
  padding-bottom: 10rem;
}
.whyus {
  display: block;
  text-align: center;
  font-weight: bold;
  padding-top: 9rem;
}

.whyus h2 {
  color: #007aff;
  font-size: 2rem;
  font-family:cursive;
  /* margin-bottom: 20px; */
}

.whyus h1 {
  color: #000000;
  font-size: 4rem;
  font-family:cursive
}

.whyus-flex {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
  margin-left: 10rem ;
  margin-right: 10rem ;
  margin-bottom: rem;
}

.flexbox {
  /* animation: floatImage 4s  ease-in-out infinite; */
  flex: 1;
  width: 200px;
  height: 500px;
  /* box-shadow: 0 0 1rem var(--main-color); */
  padding: 4rem 3rem 3rem 3rem;
  background-color:rgb(255, 254, 254);
  border-radius: 10px;
  text-align: center;
  border: 0.1px solid var(--second-bg-color);
  transition: .5s ease-in;
  /* border-bottom-color:  */
}
.whyus-flex .flexbox:hover {
  border-color: rgb(119 124 133/var(--tw-text-opacity));
  transform: scale(1.1);
}

.flexbox h2 {
  /* font-weight: bolder; */
  /* padding-bottom: 20px; */
  font-size: 1.75rem;
  font-family: Rubik,sans-serif;
}

.flexbox p {
  /* text-align: justify; */
  font-size: 1.5rem;
  margin: 1rem 0 3rem;
  color: var(--light-black);
  font-family:Rubik,sans-serif;
}

.break {
  flex-basis: 100%;
  height: 0;
}
.flexbox.box1{
  border-bottom: 7px solid #55b1b3;
}
.flexbox.box1 img{
  margin-bottom: 28px;
}
.flexbox.box2{
  border-bottom: 7px solid #FFBF70;
}
.flexbox.box2 img{
  width:120px;
  height: 120px;
  margin-bottom: 8px;
}

.flexbox.box3{
  border-bottom: 7px solid #F16C7A;
}
.flexbox.box3 img{
  width:96px;
  height: 96px;
  margin-bottom:30px;
}
.flexbox.box4{
  border-bottom: 7px solid #f1a218;
  cursor: pointer;
}
.flexbox.box4:hover{
background-color:#c49871;

}
.flexbox.box4 img{
  width:96px;
  height: 96px;
  margin-bottom:30px;
}
.flexbox.box5{
  border-bottom: 7px solid #C7EDE6;
}
.flexbox.box5 img{
  width:100px;
  height: 100px;
  margin-bottom:30px;
}
.flexbox.box6{
  border-bottom: 7px solid #9C34C2;
}
.flexbox.box6 img{
  width:90px;
  height: 90px;
  margin-bottom:40px;
}

/* contact form start */

.contact{
  background-color:rgb(255, 254, 254);
}
.contact h2 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4rem;
}

.contact form {
  max-width: 50rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
  color: #000000;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--bg-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;

}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
/* contact form ends */


/* Footer------------>> */

.footer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--second-bg-color);
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
  text-decoration: none;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}



/* responsivness----------------->> */

@media(max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width:991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .footer {
    padding: 2rem 3%;
  }

  .contact {
    min-height: auto;
}
}

@media (max-width:768px) {
  #menu-icon {
    display: block;
    /* justify-items: center; */
  }
  #logo{
    width: 150px;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--second-bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
    /* z-index: 2; */
  }

  .navbar a::after {
    content: ' ';
    width: 0;
    height: 3px;
    background: var(--main-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }

  .navbar a:hover::after {
    width: 20%;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
    justify-content: space-around;  
    margin-top: 4rem;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .whyus h1{
    color:#000000;
    font-size: 3rem;
    /* text-align: justify; */
  }

  .whyus-flex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 50px 40px;
  }

  .flexbox{
    flex:1;
    width: auto;
    height: 380px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
    border: 0.1px solid var(--second-bg-color);
    transition: .5s ease;
    margin-left: 20px;
    margin-right: 20px;
}

.flexbox p{
  /* font-size: ; */
}
.whyus-flex .flexbox:hover {
  border-color: rgb(119 124 133/var(--tw-text-opacity));
  transform: scale(1.1);
}
}

@media (max-width:450px) {
  .contact form .input-box input {
    width:100%;
  }
  html {
    font-size: 50%;
  }
}

@media (max-width:365px) {
  .home-img img {
    width: 90vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}